extend index

block content
    .row(style="padding-top:20px;")
        .large-6.columns
            form(action="", method="post")#form
                .large-12.columns
                    label Restaurant name
                        input#name(placeholder="Restaurant name", required="required", name="name", type="text")
                .large-12.columns
                    label Restaurant description
                        textarea#description(placeholder="Restaurant description", required="required", name="description", style="height:250px;")
                .large-12.columns
                    label How much of a detour?
                        textarea#detour(placeholder="About 525,600 minutes", required="required", name="detour", style="height:150px;")
                .large-12.columns
                    .large-12.columns
                        label Street
                            input#address(placeholder="Address", name="address", type="text")
                    .large-4.columns
                        label City/Town/Village
                            input#city(placeholder="City/Town/Village", name="city", type="text")
                    .large-4.columns
                        label State
                            input#state(placeholder="State", name="state", type="text")
                    .large-4.columns
                        label Zip
                            input#zip(placeholder="Zip", name="zip", type="text")
                .large-12.columns
                    .large-8.columns
                        label Google Maps URL
                            input#map(placeholder="Map URL", name="map", type="text")
                    .large-4.columns
                        label Presto photo asset ID
                            input#photo(placeholder="83567712", name="photo", type="text")
                    .large-6.columns
                        label Telephone
                            input#phone(placeholder="Tel#", name="phone", type="text")
                    .large-6.columns
                        label Website
                            input#website(placeholder="Website", name="website", type="text")
                    .large-6.columns
                        label Lat
                            input#lat(placeholder="Lat", name="lat", type="text")
                    .large-6.columns
                        label Long
                            input#long(placeholder="Long", name="long", type="text")
                .button-group
                    button.button#preview Preview
                    button(type="submit").button.success Submit
        .large-6.columns.callout.secondary#display_preview
            h4 Preview
            //- img(src="img/movealong.gif")/
            p  View actual listings 
                a(href="list") here
                | .
            .large-12.columns(style="height:100vh")