doctype html
html
  head
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/custom.css')
    title #{title}

  body

    #banner(style="height:77px;")
    script.
      if(window.self==window.top) {
        var banner = document.getElementById("banner");
        banner.style.backgroundColor = "black"; 
        banner.innerHTML = "<a href='http://www.lohud.com'><img src='http://data.lohud.com/lohud%20logos/site-masthead-logo.png' width='300' /></a><br>";
      }
    
    block content
          

    .row
      .footer
        p Contact Kai Teoh (@jkteoh), jteoh@lohud.com with questions. 

script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/what-input/what-input.js")
script(src="bower_components/foundation-sites/dist/foundation.js")
script(src="js/jquery.validate.min.js")
script(src="js/additional-methods.min.js")
script(src="//cdn.tinymce.com/4/tinymce.min.js")
script(src="js/lohudanalytics.js")
script(src="js/app.js")